#Board .tile {
    width: 100px;
    height: 100px;
    display: grid;
    place-content: center;
    /* position: relative; */
}

#Board .tile.light {
    background: #eeeee2;
}

#Board .tile.dark {
    background: #769656;
}

#Board .tile.light.highlight {
    background: #f6f669;
}

#Board .tile.dark.highlight {
    background: #baca2b;
}

#Board .tile > div {
    width: 90px;
    height: 90px;
    background-size: cover;
    cursor: grab;
}

#Board .tile > div:active {
    cursor: grabbing;
}

#Board .tile > span {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
} 