* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.App {
  height: 100vh;
  display: grid;
  place-items: center;
  background: #202020;
}

button {
  padding: 10px 15px;
  border: none;
  font-size: 1.3rem;
  border-radius: 2px;
  background: #ffffff;
  cursor: pointer;
}

button:hover {
  background: #dddddd;
}

section {
  display: grid;
  place-items: center;
}

.App.mobile {
  grid-template-rows: auto auto 20%;
}

.App.mobile button {
  margin: 30px;
}