:root {
  --color-tile-highlight: rgba(241, 241, 23, 0.5);
  --color-tile-check: rgba(255, 0, 0, 0.5);
  --color-font: #FFFFFF;
  --color-font-dark: #222222;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--color-font);
  font-family: sans-serif;
  user-select: none;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: #202020;
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  color: var(--color-font-dark)
}

.App {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 0 50px;
  place-items: center;
  padding: 30px;
}

button {
  padding: 10px 15px;
  border: none;
  font-size: 1.3rem;
  border-radius: 2px;
  background: #ffffff;
  cursor: pointer;
}

button:hover {
  background: #dddddd;
}

section {
  display: grid;
  place-items: center;
}

.App.mobile {
  grid-template-rows: auto auto 20%;
}

.App.mobile button {
  margin: 30px;
}