:root {
    --color-light: #eeeee2;
    --color-dark: #769656;
    /* --color-light-highlight: #f6f669; */
    --color-light-highlight: rgba(241, 241, 23, 0.5);
    /* --color-dark-highlight: #baca2b; */
    --color-dark-highlight: rgba(186,202,43, 0.5)
}

#Board .tile {
    width: 100px;
    height: 100px;
    display: grid;
    place-content: center;
}

#Board .tile.light.highlight {
    background: var(--color-light-highlight);
}

#Board .tile.dark.highlight {
    background: var(--color-dark-highlight);
}

#Board .tile > div {
    width: 90px;
    height: 90px;
    background-size: cover;
    cursor: grab;
}

#Board .tile > div:active {
    cursor: grabbing;
}

#Board .tile.capture > div::before {
    content: "";
    position: absolute;
    border: 7px solid rgba(0, 0, 0, 0.15);
    width: 86px;
    height: 86px;
    border-radius: 50%;
}