:root {
    --color-light: #eeeee2;
    --color-dark: #769656;
    /* --color-light-highlight: #f6f669; */
    --color-light-highlight: rgba(241, 241, 23, 0.5);
    /* --color-dark-highlight: #baca2b; */
    --color-dark-highlight: rgba(186,202,43, 0.5)
}

#Board .tile.light.highlight {
    background: var(--color-light-highlight);
}

#Board .tile.dark.highlight {
    background: var(--color-dark-highlight);
}

#Board .tile > div {
    position: relative;
    height: 100%;
    background-size: cover;
    cursor: grab;
}

#Board .tile > div:active {
    cursor: grabbing;
    z-index: 1;
}

#Board .tile.capture > div::before {
    content: "";
    position: absolute;
    border: 7px solid rgba(0, 0, 0, 0.15);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-sizing: border-box;
}

#Board .tile > div.possibleTile {
    cursor: pointer;
}